import React, { Component, Fragment, useState, useContext } from 'react';
import { {{pascalCase name}}Props }  from './{{pascalCase name}}.props';
import './{{name}}.styles.scss';

export const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = (props) => {
      
        return(
            <Fragment>
                <h1>{{pascalCase name}}</h1>
            </Fragment>
        )
}